[Desktop Entry]
Name=Color Picker
Comment=Color picker applet for the COSMIC™ desktop
Type=Application
Exec=cosmic-ext-applet-colorpicker
Icon=color-select-symbolic
Terminal=false
Categories=Utility;Graphics;
StartupNotify=true
X-CosmicApplet=true
X-HostWaylandDisplay=true
